/* we want the canvas to fill the entire page, so remove margin and padding */
body {
  margin: 0;
  padding: 0;
}

/* the container that holds the paragraph element for error messaging. This is display flex because we want the paragraph to be centered */
div {
  margin: 0;
  padding: 0;
  
  /* position absolute allows it to be on top of the canvas */
  position: absolute;
  width: 100%;
  height: 100%;
  
  display : flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items : center;
}

p {
  color: white;
  font-size: 48;
  font-family: Helvetica, Sans-serif;
  
  /* this should be in front of the canvas */
  z-index: 1;
}

canvas {
  margin: 0;
  padding: 0;
  
  /* position absolute allows it to fill the entire page */
  position: absolute;
  display : block;
  width : 100%;
  height : 100%;
  
  border : none;
  background-color : black;
  
  /* this should be behind the paragraph */
  z-index: 0;
}