/* we want the canvas to fill the entire page, so remove margin and padding */
body {
  margin: 0;
  padding: 0;
}

#err {
  margin: 0;
  padding: 0;
  
  /* position absolute allows it to be on top of the canvas */
  position: absolute;
  width: 100%;
  height: 100%;
  
  text-align: center;
  
  white-space: pre;
  color: white;
  font-size: 48;
  font-family: Helvetica, Sans-serif;
  
  /* this should be in front of the canvas */
  z-index: 1;
}

canvas {
  margin: 0;
  padding: 0;
  
  /* position absolute allows it to fill the entire page */
  position: absolute;
  display : block;
  width : 100%;
  height : 100%;
  
  border : none;
  background-color : black;
  
  /* this should be behind the paragraph */
  z-index: 0;
}