
#menu {
    /* position absolute allows it to be on top of the canvas */
    position: absolute;
    z-index: 2;
    color: white;
    text-shadow: -1px -1px 2px #000000, -1px 1px 2px #000000, 1px 1px 2px #000000, 1px -1px 2px #000000;
    font-size: 14;
    font-family: Helvetica, Sans-serif;
    text-align: right;
    right: 10px;
    top: 10px;
}